
.root {-fx-background-color: #ffffff;-fx-font-family: "Segoe UI Black";}

.text{-fx-font-smoothing-type: gray;}

.button {-fx-background-color: transparent;}

.text-field:hover{-fx-opacity: 0.5}

.text-field{
    -fx-text-fill: white;
    -fx-background-color:#e3e3e3 ;
    -fx-background-radius: 15;
}

#Timer_min{-fx-background-color: transparent;-fx-text-fill: #afc0c8}

#Timer_sec{-fx-background-color: transparent;-fx-text-fill: #afc0c8}

#Score{-fx-background-color: transparent;-fx-text-fill: #afc0c8}

#name{-fx-text-fill:  #8452ff;
    -fx-background-color:#e3e3e3 ;
    -fx-background-radius: 15;}
#name:hover{-fx-opacity: 1}