
.Main {-fx-background-color: #ffffff;-fx-font-family: "Segoe UI Black";}

.text{-fx-font-smoothing-type: gray;}

.button {-fx-background-color: #00e8f2;}

#settingbtn{-fx-background-color: transparent}

#playbtn {-fx-background-color:#287bff;}

#label{-fx-stroke: #00e8f2;-fx-stroke-width:50px;}






