.Settings {-fx-background-color: #ffffff;-fx-font-family: "Segoe UI";}

.text{-fx-font-smoothing-type: gray;}

#backbtn{-fx-background-color: transparent}

.toggle-button {-fx-background-color: #287bff;-fx-font-family: "Segoe UI Black";}



